body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('BackgroundImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#calc-wrapper{
    height: 400px;
    width: 300px;
    background-color: rgb(63, 61, 61);
    border-radius: 10px;
}
#input-area{
    border: none;
    outline: none;
    background-color: white;
    width: 100%;
    height: 130px;
    border-radius: 10px;
    margin-top:6px;
    box-sizing: border-box;
    display: flex;
    justify-content:  flex-end;
    font-size: 18px;
    padding: 12px 10px;
}
table{
    height: 65%;
    width: 100%;
    text-align: center;
}
td{
    color: white;
    font-size: 18px;
    margin: 0;
    cursor: pointer;
    transition: all 0.3s;
}
td:hover{
    transform: scale(1.2,1.2);
}